body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2 {
    color: #494e5f;
}

h3  {
    color: #ffe7d4;
}
nav a {
    text-decoration: none;
    color: #ffe7d4;
    font-weight: bold;
    text-align: center ;
    margin: 0 20px; /* Add margin between navigation items */
}

nav {
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #494e5f;
   
}



header {
    font-family:'Helvetica', sans-serif; 
    background-color: white; /* Couleur de fond du titre */
    text-align: center;
    font-size: 100%;
    padding: 10px; /* Espace intérieur du titre */
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #494e5f; /* Couleur du texte des liens */
    font-weight: bold; /* Police en gras */
}

.section {
    display: inline-block;
    box-sizing: border-box;
    margin: 0; /* Ajoutez cette ligne pour supprimer la marge */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Pour contenir les coins arrondis dans le contenu */
}

a:hover {
    color: #ffe7c4; 
    
}

.who-am-i {
    background-color: #ffe7d4; 
    margin: 10%;
    padding: 10%;
}

.technical-skills {
    background-color: #ffe7d4; /* Rouge */
    margin: 10%;
    padding: 10%;
}

.projects {
    background-color: #ffe7d4; /* Vert */
    margin: 10%;
    padding: 10%;
}

.contact {
    background-color: #ffe7d4; /* Jaune */
    margin: 10%;
    padding: 10%;
}

.content-wrapper {
    padding: 20px;
    color: #494e5f; /* Couleur du texte à l'intérieur de la section */
}

.name-container {
    display: flex; 
    align-items: center; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    font-size: 10px; 
    white-space: nowrap; 
    margin-bottom: 10px;
}
  
  .name {
    font-weight: bold; 
  }

.competence-box {
    background-color: #ddd;
    padding: 5%;
    color: #121111;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
}

  
